.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App{
  background-color: #282c34;
}
.main-App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 500px;
  margin: auto;
}
.main-App h1{
  font-family: cursive;
  font-size: 65px;
  background: -webkit-linear-gradient(#fff, #1a7a64);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quote_btn{
  padding: 10px;
  font-size: 14px;
  font-family: ui-sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}
a{
  padding: 10px;
  font-size: 14px;
  color: #0cb8e7;
  text-decoration: none;
  font-family: ui-sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

