.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  display: flex;
}

.quote-area{
  margin: auto;
  width: 100%;
  max-width: 400px;
  min-height: 180px;
  padding: 25px;
  background: #485164;
  border-radius: 4px;
  box-shadow: 4px 4px 1px rgb(136, 105, 105);
  display: flex;
  color:#fff;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
p:last-of-type{
  margin: 10px 0;
}
button{
  border: none;
  outline: none;
  margin-right: 15px;
  height: 33px;
}
a{
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
.button7{
  background: #61dafb;
  color:#fff;
  width: 80px;
  font-size: 14px;
  padding: 7px 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: 800ms ease-in-out;
}
.button7:hover{
  background-color: #0e242a;
}

.App-link {
  color: #0e242a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

